lab1/.idea
lab1/gradle
lab1/.gradle
lab1/gradlew.bat
lab1/build 

lab2/.idea
lab2/gradle
lab2/.gradle
lab2/gradlew.bat
lab2/build
lab2/out/*

lab3/.idea
lab3/gradle
lab3/.gradle
lab3/gradlew.bat
lab3/build

lab3.side
geckodriver-v0.27.0-linux64
geckodriver-v0.27.0-linux64.tar.gz
test/
